<!DOCTYPE html>
<html lang="en" ng-app="store" >
<head>
	<meta charset="UTF-8">
	<title>Angular Demo</title>
	<link rel="stylesheet" href="style.css">
	
	<!-- ANGULAR NEEDS TO BE FIRST -->
	<script src="angular.js"></script>

	<script src="app.js"></script>

</head>
<body>
	<div class="wrapper">
		
		<div class="burger-list" ng-controller="menuController as Menu">

			<div ng-repeat="Burger in Menu.menu" class="burger clearfix" ng-controller="imageController as imageCtrl">
				<div class="half left">
					<h3>{{Burger.name | uppercase}}</h3>
					
					<button ng-click="imageCtrl.hidden = !imageCtrl.hidden">{{imageCtrl.hidden ? 'Show Me' : 'Hide me'}}</button>
				</div>
				<div ng-hide="imageCtrl.hidden" class="half right">
					<img class="full" ng-src="{{Burger.images[imageCtrl.selected]}}">
					<!-- first image -->
					<img class="thumb"	ng-class="{selected:imageCtrl.selected === 0}"	ng-click="imageCtrl.setSelected(0)" ng-src="{{Burger.images[0]}}">
					<!-- second image -->
					<img class="thumb"	ng-class="{selected:imageCtrl.selected === 1}"	ng-click="imageCtrl.setSelected(1)" ng-src="{{Burger.images[1]}}">
					<!-- third image -->
					<img class="thumb"	ng-class="{selected:imageCtrl.selected === 2}"	ng-click="imageCtrl.setSelected(2)" ng-src="{{Burger.images[2]}}">
				</div>
			</div>	
		</div>
	</div>
</body>
</html>